[package]
name = "bkmr"
version = "3.1.1"
edition = "2021"
description = "A Bookmark Manager and Launcher for the Terminal"
keywords = ["bookmark", "launcher"]
repository = "https://github.com/sysid/bkmr"
readme = "../README.md"
license = "BSD-3-Clause"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.95"
arboard = "3.4.1"
camino = "1.1.9"
chrono = { version = "0.4.39", features = ["serde"] }
clap = { version = "4.5.23", features = ["unstable-doc"] }
crossterm = "0.26.1"
diesel = { version = "2.2.6", features = ["sqlite", "chrono", "returning_clauses_for_sqlite_3_35"] }
diesel_migrations = "2.2.0"
indoc = "2.0.5"
lazy_static = "1.5.0"
open = "5.3.1"
predicates = "3.1.3"
regex = "1.11.1"
rusqlite = { version = "0.32.1", features = ["bundled"] }  # https://github.com/sysid/bkmr/issues/6#issuecomment-1435966997
serde = { version = "1.0.217", features = ["derive"] }
serde_json = "1.0.134"
serde_with = {version = "3.12.0", features =["chrono"] }
shellexpand = "3.1.0"
skim = "0.10.4"
tempfile = "3.15.0"
termcolor = "1.4.1"
assert_cmd = "2.0.16"
ctor = "0.2.9"
mockall = "0.13.1"
rstest = "0.22.0"
test-log = "0.2.16"
tuikit = "0.5.0"
select = "0.6.0"
reqwest = {version = "0.12.12", features = ["blocking", "json"] }
itertools = "0.13.0"
byteorder = "1.5.0"
serde_derive = "1.0.217"
ndarray = "0.16.1"
mockito = "1.6.1"
md5 = "0.7.0"
bincode = "1.3.3"
camino-tempfile = "1.1.1"
pyo3 = { version = "0.22.6", features = ["extension-module", "anyhow"] }
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
once_cell = "1.20.2"
float-cmp = "0.10.0"
serial_test = "3.2.0"
fs_extra = "1.3.0"
# https://github.com/sfackler/rust-openssl/issues/763#issuecomment-1150213102
#openssl = { version = "0.10.66", features = ["vendored"] }

[package.metadata.test]
parallel = false
