[package]
name = "bkmr"
version = "1.1.3"
edition = "2021"
description = "A Bookmark Manager and Launcher for the Terminal"
keywords = ["bookmark", "launcher"]
repository = "https://github.com/sysid/bkmr"
readme = "../README.md"
license = "BSD-3-Clause"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.75"
arboard = "3.3.0"
atty = "0.2.14"
camino = "1.1.6"
chrono = { version = "0.4.31", features = ["serde"] }
clap = { version = "4.4.11", features = ["unstable-doc"] }
crossterm = "0.26.1"
diesel = { version = "2.1.4", features = ["sqlite", "chrono", "returning_clauses_for_sqlite_3_35"] }
diesel_migrations = "2.1.0"
env_logger = "0.10.1"
indoc = "2.0.4"
inquire = "0.6.2"
lazy_static = "1.4.0"
log = "0.4.20"
open = "4.2.0"
predicates = "3.0.4"
regex = "1.10.2"
rusqlite = { version = "0.28.0", features = ["bundled"] }  # https://github.com/sysid/bkmr/issues/6#issuecomment-1435966997
serde = { version = "1.0.193", features = ["derive"] }
serde_json = "1.0.108"
serde_with = {version = "2.3.3", features =["chrono"] }
shellexpand = "3.1.0"
skim = "0.10.4"
stdext = "0.3.1"
tempfile = "3.8.1"
termcolor = "1.4.0"

assert_cmd = "2.0.12"
ctor = "0.2.6"
mockall = "0.11.4"
rstest = "0.17.0"
test-log = "0.2.14"
tuikit = "0.5.0"
select = "0.6.0"
reqwest = {version = "0.11.23", features = ["blocking", "json"] }
itertools = "0.10.5"
byteorder = "1.5.0"
serde_derive = "1.0.193"
ndarray = "0.15.6"
mockito = "1.2.0"
md5 = "0.7.0"
bincode = "1.3.3"
camino-tempfile = "1.1.1"
fs_extra = "1.3.0"

[package.metadata.test]
parallel = false
