[package]
name = "bkmr"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.68"
camino = "1.1.2"
chrono = "0.4.23"
clap = { version = "4.0.32", features = ["unstable-doc"] }
diesel = { version = "2.0.2", features = ["sqlite", "chrono", "returning_clauses_for_sqlite_3_35"] }
diesel_migrations = "2.0.0"
env_logger = "0.10.0"
indoc = "1.0.8"
lazy_static = "1.4.0"
log = "0.4.17"
open = "3.2.0"
predicates = "2.1.5"
regex = "1.7.0"
shellexpand = "3.0.0"
skim = "*"
stdext = "0.3.1"
tempfile = "3.3.0"
termcolor = "1.1.3"

assert_cmd = "2.0.7"
ctor = "0.1.26"
mockall = "0.11.3"
rstest = "0.16.0"
test-log = "0.2.11"
tuikit = "0.5.0"

[dev-dependencies]

[package.metadata.test]
parallel = false
