[package]
name = "bkmr"
version = "4.17.2"
edition = "2021"
description = "A Unified CLI Tool for Bookmark, Snippet, and Knowledge Management"
repository = "https://github.com/sysid/bkmr"
readme = "../README.md"
license = "BSD-3-Clause"
authors = ["sysid <sysid@gmx.de>"]
homepage = "https://github.com/sysid/bkmr"
keywords = ["bookmark", "cli", "terminal", "snippet", "launcher"]
categories = ["command-line-utilities"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = { version = "0.4.39", features = ["serde"] }
clap = { version = "4.5.23", features = ["unstable-doc"] }
crossterm = "0.28.1"
diesel = { version = "2.2.6", features = ["sqlite", "chrono", "returning_clauses_for_sqlite_3_35", "r2d2"] }
diesel_migrations = "2.2.0"
indoc = "2.0.5"
open = "5.3.1"
predicates = "3.1.3"
regex = "1.11.1"
rusqlite = { version = "0.32.1", features = ["bundled"] }  # https://github.com/sysid/bkmr/issues/6#issuecomment-1435966997
serde = { version = "1.0.217", features = ["derive"] }
serde_json = "1.0.134"
serde_with = {version = "3.12.0", features =["chrono"] }
shellexpand = "3.1.0"
skim = "0.15.7"
tempfile = "3.15.0"
termcolor = "1.4.1"
assert_cmd = "2.0.16"
tuikit = "0.5.0"
select = "0.6.0"
reqwest = {version = "0.12.12", features = ["blocking", "json"] }
itertools = "0.14.0"
byteorder = "1.5.0"
serde_derive = "1.0.217"
ndarray = "0.16.1"
md5 = "0.7.0"
bincode = "1.3.3"
pyo3 = { version = "0.23.3", features = ["extension-module", "anyhow"] }
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
float-cmp = "0.10.0"
fs_extra = "1.3.0"
thiserror = "2.0.12"
url = "2.5.4"
rand = "0.9.0"
maplit = "1.0.2"
serial_test = "3.2.0"
derive_builder = "0.20.2"
arboard = "3.4.1"
clap_complete = "4.5.47"
minijinja = "2.8.0"
dirs = "6.0.0"
toml = "0.8.20"
markdown = "1.0.0-alpha.23"

[profile.release]
codegen-units = 1
lto = true
